@font-face {
    font-family: 'iranyekan';
    src: url(../fonts/iranyekan.woff);
}

body {
    font-family: 'iranyekan';
    direction: rtl;
    text-align: right;
}

label{
    margin-bottom: .25rem;
    margin-top: .7rem;
}

a:hover{
    text-decoration: none;
}

.center{
    margin-right: auto;
    margin-left: auto;
}

select{
    border-radius: 6px;
    border-color: rgb(212, 212, 212);
}


.select2-container .select2-selection--single{
    height: 42px;
        border-color: rgb(212, 212, 212)
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 42px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 8px;
}

input[type=checkbox]{
    border-radius: 3px;
    border-color: rgb(212, 212, 212);
}

.hidden{
    display: none;
}
