@font-face {
    font-family: 'iranyekan';
    src: url(../fonts/iranyekan.woff);
}

body {
    font-family: 'iranyekan';
    direction: rtl;
    text-align: right;
}

label{
    margin-bottom: .25rem;
    margin-top: .7rem;
}

a:hover{
    text-decoration: none;
}

.center{
    margin-right: auto;
    margin-left: auto;
}
