@font-face {
    font-family: 'iranyekan';
    src: url(../fonts/iranyekan.woff);
}

body {
    font-family: 'iranyekan';
    direction: rtl;
    text-align: right;
}
ul{
    width: 100%;
}

h1,h2,h3,h4,h5{
    margin: 0px;
}

ion-icon {
  font-size: 24px;
}

a{
    color: #fff;
}
a:hover{
    color: #fff;
    text-decoration: none;
}


.dropdown-menu{
    right: 0;
    left: auto;
}

.card-body{
    box-shadow: 2px 2px 4px gray;
}

.price_removed{
    text-decoration: line-through;
}

.shop_box{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 10px 20px;
    box-shadow: 2px 2px 8px gray;

}
.product_box{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    height: auto;
    width: 300px;
}

.product_box > img{
    width: 100%;
    height: 250px;
}

.cart_number{
    color: black;
    background-color: white;
    padding: 2px 5px;
    border-radius: 4px;
}

#Acc{
    margin-right: auto;
}

.hidden{
    display: none;
}
